.container{
    background-color: #afeeee;
    padding-top: 10mm;
}
.imagen{
    font-weight: 612px;
    height: 382px;
}
.card{
    margin-top: 200;
}

.boton{
    background-color: lightgreen;
}
.h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.h5{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 5mm;
}
.square{
    border-radius: 2mm;
}